{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block content %}

<div class="header-bar">
  <h1>{% trans "Login" %}</h1>
</div>
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p class="form-bar">{% blocktrans with site.name as site_name %}Please login with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}"><i style="color:rgb(55, 201, 201)">Sign Up
    </i></a>
  for a {{ site_name }} account and login below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <a class="button" style="text-transform:none; margin-left: 15px;" href="http://localhost:8000/accounts/google/login/?process=login">
    <img width="20px" style="margin-right:5px; margin-top: 5px;" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
  Login with Google 
  </a>

  <!-- <ul class="socialaccount_providers" style="color: rgb(55, 201, 201);">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul> -->

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p class="form-bar">{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
</p>
{% endif %}

<div class="update-form-wrapper">
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="button primaryAction" type="submit">{% trans "Login" %}</button>
    <a class="secondaryAction" href="{% url 'account_reset_password' %}" style="color: tomato;">{% trans "Forgot Password?" %}</a>
  </form>
</div>

{% endblock %}