{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Logout" %}{% endblock %}

{% block content %}
<div class="header-bar">
  <h1>{% trans "Logout" %}</h1>
</div>
<div class="update-form-wrapper">
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    <p >{% trans 'Are you sure you want to Logout?' %}</p>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="button">{% trans 'Logout' %}</button>
  </form>
</div>

{% endblock %}