{% extends 'base/main.html' %}

{% block title %}Task List{% endblock title %}
{% block body %}
    {% if request.user.is_authenticated%}
    <p>Hi, {{request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <hr>
    <div class="container">
        <form action="" method="GET">
            <!-- value = “{{search_input}}” allows us to keep the last data that was searched for, in the text box-->
            <input type="text" name="search_area" value="{{search_input}}">
            <input type="submit" value="Search">
        </form>
        <a href="{% url 'task-create' %}">Add Task</a>
        <table>
            <tr>
                <th>Items</th>
                <th></th>
                <th></th>
            </tr>
            {% for task in tasks %}
            <!--'tasks' is the context_object_name in the model-->

            <tr>
                {% if task.complete == True %}

                <td><strike>{{task.title}}</strike></td>

                {% else %}
                <td>{{task.title}}</td>
                {% endif %}
                <!-- <td><a href="{% url 'task' task.id %}">View</a></td> -->
                <!--Removed bcz its redundant-->
                <td><a href="{% url 'task-update' task.id %}">Update</a></td>
                <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
            </tr>
            {% empty %}
            <!--If the list is empty-->
            <p>You are free!</p>
            {% endfor %}
        </table>
    </div>
{% endblock body %}