{% extends 'base/main.html' %}

{% block title %}Task List{% endblock title %}
{% block body %}
<div class="header-bar">
    <div>
        <h1>Hello, {{request.user|title}}</h1>
        <!--|titile capitalizes the first letter-->
        <h3 style="margin:0">You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s"}}</h3>
        <!--last part appends an s to 'task' if count > 1-->
    </div>
    {% if request.user.is_authenticated%}
    <a href="{% url 'account_logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>


<div id="search-add-wrapper">
    <a id="add-link" href="{% url 'task-create' %}"><i class="fa fa-plus-circle"></i></a>
    <form id="input-form" action="" method="GET">
        <!-- value = “{{search_input}}” allows us to keep the last data that was searched for, in the text box-->
        <input type="text" name="search_area" value="{{search_input}}">
        <button class="button" type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>


<div class="task-items-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper">
        {% if task.complete == True %}

        <div class="task-title">
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>

        </div>
        <a class="delete-link" href="{% url 'task-delete' task.id %}"><i class="fa fa-trash"></i>

            {% else %}
            <div class="task-title">
                <div class="task-incomplete-icon"></div>
                <a href="{% url 'task-update' task.id %}">{{task}}</a>
            </div>
            <!--Due Date-->
            <!-- <div class="duedate-wrapper">
                {% if task.duedate %}
                <p>{{task.duedate}}</p>
                {% endif %}
            </div> -->

            <a class="delete-link" href="{% url 'task-delete' task.id %}"><i class="fa fa-trash"></i>
                {% endif %}


            </a>
    </div>
    {% empty %}
    <!--If the list is empty-->
    <div class="update-form-wrapper">
        <p>You are free!</p>
    </div>
    {% endfor %}
</div>

{% endblock body %}